.pane-group>.sidebar {
    color: white;
    background-color: #6d6c6d;
}
.pane-group>.sidebar h5, .pane-group>.sidebar span, .pane-group>.sidebar a {
    color: white;
}
.pane-group>.sidebar a.active {
    background-color: #888;
}